* {
    margin: 0px;
    padding: 0px;
}

body {
    color: white;
}

.navbar {
    border-bottom: 1px solid whitesmoke;
    display: flex;
    align-items: center;
    height: 7vh;

    h1 {
        font-size: 25px;

        &::before {
            font-family: 'Italianno', cursive;
            content: "Melon";
            color: blue;
        }

        &::after {
            content: "play";
            color: black;
            font-family: 'Roboto', sans-serif;
        }

        // border: 2px solid black;
        margin-left: 2%;
    }

    ul {
        margin-left: 5%;
        // border: 2px solid black;
        width: 40%;
        font-size: 20px;
        display: flex;

        li {
            text-decoration: none;
            list-style: none;
            margin: 5px 10px;

            a {
                color: black;
                text-decoration: none;
            }

            &:hover {
                cursor: pointer;
                color: rgb(111, 111, 174);
                text-decoration: underline;
            }

            #features {
                border: none;
                font-size: 20px;
                cursor: pointer;
            }
        }
    }

    .buttons {
        // border: 2px solid black;
        position: absolute;
        right: 3%;
        display: flex;
        justify-content: center;
        width: 20vw;

        .btn-login {
            font-size: 18px;
            padding: 4px 20px;
            border: none;
            border-radius: 10px;
            background: white;
            border: 1px solid blue;
            color: blue;

            &:hover {
                color: white;
                background-color: blue;
                cursor: pointer;
                scale: 1.1;
            }
        }

        .btn-signup {
            font-size: 18px;
            padding: 4px 20px;
            border: none;
            margin-left: 10%;
            border-radius: 10px;
            background: white;
            border: 1px solid orangered;
            color: orangered;

            &:hover {
                cursor: pointer;
                background: orangered;
                color: white;
                scale: 1.1;
            }
        }
    }
}