$btn-text-size: 1.5;
$nav-text-size: 2.0;

@mixin setFontSize($size) {
    font-size: calc((1vw + 1vh) * ($size / 2)) !important;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    color: white;
}

a{
    @include setFontSize($nav-text-size);
    text-decoration: none;
}

.navbar {
    border-bottom: 1px solid whitesmoke;
    display: flex;
    align-items: center;
    height: 7vh;
    h1 {
        font-size: 25px;
        @include setFontSize($nav-text-size+0.5);

        &::before {
            font-family: 'Italianno', cursive;
            content: "Melon";
            color: blue;
        }

        &::after {
            content: "play";
            color: black;
            font-family: 'Roboto', sans-serif;
        }

        // border: 2px solid black;
        margin-left: 2%;
    }

    ul {
        margin-left: 5%;
        // border: 2px solid black;
        width: 40%;
        font-size: 20px;
        display: flex;

        li {
            text-decoration: none;
            list-style: none;
            margin: 5px 10px;

            a {
                @include setFontSize($nav-text-size - 0.3);

                color: black;
            }

            &:hover {
                cursor: pointer;
                color: rgb(111, 111, 174);
            }

            #features {
                border: none;
                font-size: 20px;
                cursor: pointer;
            }
        }
    }

    .buttons {
        position: absolute;
        right: 1%;
        display: flex;
        justify-content: center;
        width: 15vw;
        margin-inline: 10px;

        .btn-login {
            @include setFontSize($btn-text-size);
            padding: 2px 5px;
            border: none;
            border-radius: 10px;
            color: blue;
            &:hover {
                cursor: pointer;
                font-weight: 500;
            }
        }

        .btn-signup {
            @include setFontSize($btn-text-size);
            padding: 2px 5px;
            border: none;
            margin-left: 10%;
            border-radius: 10px;
            background: white;
            color: orangered;

            &:hover {
                cursor: pointer;
                font-weight: 500;
            }
        }
    }
}

.username{
    @include setFontSize($btn-text-size);
    color: black;
    cursor: default;
    transition: 0.25s;
    
    &:hover{
        font-weight: 500;
    }
}

.signout-btn{
    @include setFontSize($btn-text-size);
    color: #f87777;
    border: none;
    background-color: white;
    margin-inline: 10px;
    cursor: pointer;
    transition: 0.25s;
    
    &:hover{
        font-weight: 500;
        color: #ff2828;
    }
}