* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    background: black;
}

.container {
    display: flex;
}

.container-2 {
    .video-call {
        // border: 2px solid white;
        width: 67vw;
        height: 85vh;
        display: flex;
        flex-wrap:wrap;
        background: black;
        .frnd {
            background: white;
            width: 20vw;
            height: 25vh;
            margin: 10px 10px;
            border-radius: 20px;
        }
        .frnd-1{
            width:63vw;
            height: 55vh;
        }
    }

    .functions {
        // border: 2px solid blue;
        height: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .icons {
            display: flex;
            width: 200px;
            margin: 0px 30px;

            .mic {
                color: rgb(75, 75, 255);
            }

            .icon-video {
                color: whitesmoke;
            }

            .i {
                margin: 0px 30px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .end-meeting {
            font-size: 20px;
            padding: 5px 20px;
            color: white;
            background: red;
            border: none;
            border-radius: 20px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.right {
    // border: 2px solid red;
    width: 32vw;
    height: auto;
    display: flex;
    flex-direction: column;

    .video-members {
        height: 50vh;

        .video-heading {
            text-align: center;
            color: white;
            padding: 7px 0px;
            background: rgb(21, 18, 18);
        }

        .participants {
            // border: 2px solid red;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            height: 45vh;
            overflow-y: scroll;

            .participant {
                text-align: left;
                // border: 2px solid white;
                // background: rgb(45, 43, 43);
                font-size: 21px;
                padding: 10px 15px 10px 20px;
                width: 320px;
                margin: 20px 0px 20px 30px;
                border-radius: 20px;
                display: flex;

                .icons {
                    // border: 2px solid white;
                    display: flex;
                    margin-left: auto;

                    .mic {
                        color: rgb(75, 75, 255);
                    }

                    .video {
                        color: white;
                    }

                    .i {
                        margin-left: 10px;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                &:hover {
                    background-color: #474348;
                    // cursor: pointer;
                }
            }
        }
    }

    .chatting {
        height: 50vh;

        .chat-heading {
            color: white;
            text-align: center;
            background: rgb(21, 18, 18);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 0px;

            .chat-icon {
                margin-right: 5px;
            }
        }

        .chats {
            height: 34vh;
            // background: blue;
            color: white;
            overflow-y: scroll;

            .message-left {
                float: left;
                display: block;
                clear: both;
                padding: 5px 10px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                background: #474348;
                margin: 2% 0px;
            }

            .message-right {
                float: right;
                display: block;
                clear: both;
                padding: 5px 10px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                border-bottom-left-radius: 20px;
                background: #474348;
                margin: 2% 0px;

            }
        }

        .message {
            display: flex;

            input {
                font-size: 18px;
                border: none;
                width: 400px;
                background: none;
                color: white;
                padding: 0px 10px;
            }

            .btn {
                font-size: 15px;
                width: 90px;
                color: white;
                background: blue;
                border: none;
                cursor: pointer;
                border-radius: 15px;
            }
        }
    }
}