* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    background: black;
}

.container {
    // border: 2px solid white;
    display: flex;
}

.video-call {
    // border: 2px solid white;
    // background: red;
    width: 71vw;
    height: 93vh;
    display: flex;
    flex-flow: row wrap;

    .frnd {
        // border: 2px solid white;
        background: white;
        width: 22vw;
        height: 25vh;
        margin-left: 1%;
        border-radius: 10px;
    }

    .frnd-1 {
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        width: 67vw;
        height: 65vh;
        margin-top: 1%;
    }
}

.right {
    // border: 2px solid red;
    width: 32vw;
    height: auto;
    display: flex;
    flex-direction: column;

    .video-members {
        // background: red;
        height: 50vh;

        .video-heading {
            // border: 2px solid black;
            text-align: center;
            color: white;
            border-bottom: 1px solid red;
            padding: 7px 0px;
        }

        .participants {
            border: 2px solid red;
            height: 45vh;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            align-items: center;

            .participant {
                color: white;
                display: block;
                margin: 2% 0px;
                // border: 2px solid white;
                text-align: left;
                width: 300px;
                padding: 5px 20px;
                font-size: 20px;
                background: #161516;
            }
        }
    }

    .chatting {
        height: 50vh;

        .chat-heading {
            color: white;
            text-align: center;
            background: rgb(21, 18, 18);
        }

        .chats {
            height: 36vh;
            // background: blue;
            color: white;
            overflow-y: scroll;

            .message-left {
                float: left;
                display: block;
                clear: both;
                padding: 5px 10px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                background: #474348;
                margin: 2% 0px;
            }

            .message-right {
                float: right;
                display: block;
                clear: both;
                padding: 5px 10px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                border-bottom-left-radius: 20px;
                background: #474348;
                margin: 2% 0px;

            }
        }

        .message {
            display: flex;

            input {
                font-size: 18px;
                border: none;
                width: 400px;
                background: none;
                color: white;
                padding: 0px 10px;
            }

            .btn {
                font-size: 15px;
                width: 90px;
                color: white;
                background: blue;
                border: none;
                cursor: pointer;
                border-radius: 15px;
            }
        }
    }
}