* {
    margin: 0px;
    padding: 0px;
}

.video-call-container {
    // border: 2px solid black;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // overflow-y: scroll;
    .media-stream {
        // border: 2px solid black;
        position: absolute;
        height: 90vh;
        width: 95vw;
        border-radius: 20px;
        box-shadow: 10px 7px 20px 10px grey;
        display: flex;
        justify-content: center;

        video {
            // border: 2px solid black;
            width: 90vw;
            height: 90vh;
        }

        .camera {
            // border: 2px solid black;
            // background: white;
            position: absolute;
            width: 80px;
            height: 150px;
            right: 0px;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;

            .our-camera {
                // border: 2px solid black;
                background-color: white;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                box-shadow: 5px 5px 10px grey;
            }

            .controls {
                // border: 2px solid black;
                // margin-bottom: 2%;
                width: 200px;
                height: 30px;
                color: black;
                display: flex;
                justify-content: center;

                .controls-mic {
                    margin-right: 5%;
                    color: blue;
                }

                .controls-video {
                    margin-left: 3%;
                }
            }

            .angle-up {
                // border: 2px solid black;
                color: black;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                background: white;
                border-radius: 50%;
                box-shadow: 2px 2px 5px 5px grey;
                cursor: pointer;
            }
        }
    }

    .participants {
        // border: 2px solid black;
        width: 100vw;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        // bottom: -500px;
        // bottom: 0px;
        z-index: +3;
        transition-duration: .5s;

        .participant {
            // border: 2px solid black;
            background: white;
            width: 20vw;
            height: 20vh;
            margin: 0% 1%;
            border-radius: 20px;

            // box-shadow: 5px 5px 20px 10px grey ;
            .participants-icons {
                color: black;
                display: flex;
                position: relative;
                left: 75%;
                top: 80%;

                .mic-icon {
                    margin-right: 5%;
                    color: blue;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .video-icon {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}