* {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-2 .video-call {
  width: 67vw;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-2 .video-call .frnd {
  background: black;
  width: 20vw;
  height: 25vh;
  margin: 10px 10px;
  border-radius: 20px;
}

.container-2 .video-call .frnd-1 {
  width: 63vw;
  height: 55vh;
}

.container-2 .functions {
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-2 .functions .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  margin: 0px 30px;
}

.container-2 .functions .icons .mic {
  color: #4b4bff;
}

.container-2 .functions .icons .icon-video {
  color: black;
}

.container-2 .functions .icons .i {
  margin: 0px 30px;
}

.container-2 .functions .icons .i:hover {
  cursor: pointer;
}

.container-2 .functions .end-meeting {
  font-size: 20px;
  padding: 5px 20px;
  color: white;
  background: red;
  border: none;
  border-radius: 20px;
}

.container-2 .functions .end-meeting:hover {
  cursor: pointer;
}

.right {
  width: 32vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right .video-members {
  height: 50vh;
}

.right .video-members .video-heading {
  text-align: center;
  color: black;
  padding: 7px 0px;
}

.right .video-members .participants {
  height: 45vh;
  overflow-y: scroll;
}

.right .video-members .participants .participant {
  text-align: left;
  font-size: 21px;
  padding: 10px 15px 10px 20px;
  width: 320px;
  margin: 20px 0px 20px 30px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
}

.right .video-members .participants .participant .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.right .video-members .participants .participant .icons .mic {
  color: #4b4bff;
}

.right .video-members .participants .participant .icons .video {
  color: black;
}

.right .video-members .participants .participant .icons .i {
  margin-left: 10px;
}

.right .video-members .participants .participant .icons .i:hover {
  cursor: pointer;
  color: white;
}

.right .video-members .participants .participant:hover {
  color: white;
  background-color: #474348;
}

.right .chatting {
  height: 50vh;
}

.right .chatting .chat-heading {
  color: black;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0px;
}

.right .chatting .chat-heading .chat-icon {
  margin-right: 5px;
}

.right .chatting .chats {
  height: 34vh;
  color: white;
  overflow-y: scroll;
}

.right .chatting .chats .message-left {
  float: left;
  display: block;
  clear: both;
  padding: 5px 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #474348;
  margin: 2% 0px;
}

.right .chatting .chats .message-right {
  float: right;
  display: block;
  clear: both;
  padding: 5px 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #474348;
  margin: 2% 0px;
}

.right .chatting .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right .chatting .message input {
  font-size: 18px;
  border: none;
  width: 400px;
  background: none;
  color: black;
  padding: 0px 10px;
}

.right .chatting .message .btn {
  font-size: 15px;
  width: 90px;
  color: white;
  background: blue;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}
/*# sourceMappingURL=video_call.css.map */